In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2022-01-17 00:54:02,-34.4187,19.2345,64.87,90,2,3.69
1,1,Busselton,AU,2022-01-17 00:54:03,-33.6500,115.3333,70.05,42,4,12.44
2,2,Vila,PT,2022-01-17 00:54:03,42.0304,-8.1588,41.88,92,13,3.04
3,3,Hasaki,JP,2022-01-17 00:54:03,35.7333,140.8333,41.40,57,100,8.59
4,4,Rikitea,PF,2022-01-17 00:49:19,-23.1203,-134.9692,77.34,70,29,7.05

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig2 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig2.add_layer(heat_layer)
# Call the figure to plot the data.
fig2

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig3 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig3.add_layer(heat_layer)
# Call the figure to plot the data.
fig3

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig4 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig4.add_layer(heat_layer)
# Call the figure to plot the data.
fig4

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Rikitea,PF,2022-01-17 00:49:19,-23.1203,-134.9692,77.34,70,29,7.05
8,8,Kavieng,PG,2022-01-17 00:54:05,-2.5744,150.7967,82.80,74,99,1.05
9,9,Vaini,TO,2022-01-17 00:54:05,-21.2000,-175.2000,80.55,82,27,17.69
13,13,Florianopolis,BR,2022-01-17 00:54:06,-27.6146,-48.5012,78.37,86,40,3.00
40,40,Harper,LR,2022-01-17 00:54:15,4.3750,-7.7169,78.40,86,8,5.12
42,42,New Norfolk,AU,2022-01-17 00:54:15,-42.7826,147.0587,76.91,36,15,5.01
45,45,Atuona,PF,2022-01-17 00:52:21,-9.8000,-139.0333,78.66,78,23,20.80
47,47,Nioro,GM,2022-01-17 00:55:17,13.3500,-15.7500,76.15,59,74,5.48
48,48,Butaritari,KI,2022-01-17 00:55:17,3.0707,172.7902,82.13,78,10,17.07
50,50,Saint-Philippe,RE,2022-01-17 00:55:18,-21.3585,55.7679,78.39,83,83,4.00

In [14]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [15]:
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
4          Rikitea      PF     77.34 -23.1203 -134.9692
8          Kavieng      PG     82.80  -2.5744  150.7967
9            Vaini      TO     80.55 -21.2000 -175.2000
13   Florianopolis      BR     78.37 -27.6146  -48.5012
40          Harper      LR     78.40   4.3750   -7.7169
42     New Norfolk      AU     76.91 -42.7826  147.0587
45          Atuona      PF     78.66  -9.8000 -139.0333
47           Nioro      GM     76.15  13.3500  -15.7500
48      Butaritari      KI     82.13   3.0707  172.7902
50  Saint-Philippe      RE     78.39 -21.3585   55.7679

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Rikitea,PF,77.34,-23.1203,-134.9692,People ThankYou
8,Kavieng,PG,82.80,-2.5744,150.7967,Nusa Island Retreat
9,Vaini,TO,80.55,-21.2000,-175.2000,Keleti Beach Resort
13,Florianopolis,BR,78.37,-27.6146,-48.5012,Hotel Boutique Quinta das Videiras
40,Harper,LR,78.40,4.3750,-7.7169,Screensaver
...,...,...,...,...,...,...
581,Dicabisagan,PH,75.61,17.0818,122.4157,Nancy Montanes Bernardo
582,Rantauprapat,ID,77.85,2.1000,99.8333,Permata Land Hotel & Resort
584,Saint-Joseph,RE,77.38,-21.3667,55.6167,"""Plantation Bed and Breakfast"
587,Chateaubelair,VC,77.61,13.2833,-61.2500,Richmond Vale Diving & Hiking Center
588,Ambilobe,MG,75.16,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))